<div  class="card position-relative" style="width: 20rem; max-height: 30rem;">
  <img src="../assets/images/equipe.jpg" class="card-img-top img-fluid" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nom d'equipe :{{equipe.nomEquipe}}</h5>
    <p class="card-text">
      Thematique : {{equipe.thematique}}
    </p>
    <div class="">
   
  </div>
  </div>
  <div class="card-footer text-end">
    <small class="badge text-bg-secondary ">Salle d'equipe :{{equipe.salle}}</small>
  </div>
</div>

