<ol class="list-group list-group-numbered float-sm-end" style="width: 20rem;">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Equipe :</div>
        Nombre d'equipe total
      </div>
      <span class="badge bg-primary rounded-pill">{{nbEquipe}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Niveau d'equipe : </div>
        Nombre d'equipe Junior
      </div>
      <span class="badge bg-primary rounded-pill">{{nbEquipeJ}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Niveau d'equipe :</div>
        Nombre d'equipe Expert
      </div>
      <span class="badge bg-primary rounded-pill">{{nbEquipeEx}}</span>
    </li>
  </ol>
